{% extends "layout.html" %}
{% block body %}


    <p><h4>Please click on the link below:</h4><h2><a href="{{ url_for('login') }}">login</a></h2>


     <h5>Introduction to Flask Flash messages</h5>
   		 <p> Hello ! This is my first Flask flash message .This page is intended to learn flask, flash message and the validation.  </p>
			<p> Flask flash
			<ol>
				<li>The flash is used to generate informative messages in the flask.  </li>
					<li>It creates a message in one view and renders it to a template view function called next.</li>
						<li>Flask is a web framework that provides libraries to build lightweight web applications in python.</li>


            </ol>
{% endblock %}